@using System.Linq
@model List<Price>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerDashboard.cshtml";
}

@section StyleSheets
{}

@section navheader
{
    <div class="col-sm-6">
        <div class="breadcrumbs-area clearfix">
            <h4 class="page-title pull-left">Dashboard</h4>
            <ul class="breadcrumbs pull-left">
                <li><a href="index.html">Home</a></li>
                <li><span>Cart</span></li>
            </ul>
        </div>
    </div>
}

<br /><br />

<table class="table table-dark table-hover">
    @{
        decimal total = 0;
    }
    <tr>
        <th>Option</th>
        <th>Id</th>
        <th>Image</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Sub Total</th>
    </tr>
    @foreach (var item in (List<Order_Detail>)Session["cart"])
    {
        <tr>
            <td>@Html.ActionLink("Delete", "Delete", "ShoppingCart", new { Area = "Customer", id = item.Image.id }, null)</td>
            <td>@item.Image.id</td>
            <td><img src="@Html.DisplayFor(modelItem => item.Image.url)" style="width: 200px; height: 150px" /></td>
            <td>@item.Image.title</td>
            <td>@item.quantity</td>
            <td>@item.unitPrice</td>
            <td>@(item.unitPrice * item.quantity)</td>
            @{
                var listP = new List<decimal>();
                listP.Add(item.unitPrice * item.quantity);
                total += listP.Sum(x => x);
            }
        </tr>
    }
</table>
<br />
<br />
<div class="container clearfix">
    <div style="float: left">
        <h1 class="total">Total: <span>@total</span>($)</h1>
        <br>
        <fieldset>
            <center>@Html.ActionLink("Continue Shopping", "Index", "Image", new { Area = "Customer" }, null)</center>
        </fieldset>
    </div>
    <div style="width: 300px; float: right">
        <h1>Bill Details</h1>
        <form method="post">
            <br>
            <fieldset>
                <input style="width: 300px" id="uniqueName" placeholder="Your name" name="shipName" type="text" tabindex="1" required="required" autofocus>
            </fieldset>
            <br>
            <fieldset>
                <input style="width: 300px" id="uniquePhone" placeholder="Your Phone Number" name="shipPhone" type="tel" tabindex="3" required="required">
            </fieldset>
            <br>
            <fieldset>
                <input style="width: 300px" id="uniqueAddress" placeholder="Your Address" name="shipAddress" type="text" tabindex="4" required="required">
            </fieldset>
            <br />
            <fieldset>
                <input style="width: 300px" id="uniqueEmail" placeholder="Your Email" name="shipEmail" type="email" tabindex="5" required="required">
            </fieldset>
            <br />
            <fieldset>
                <input style="width: 300px" id="uniqueEmailTitle" placeholder="Your Email Title" name="shipEmailTitle" type="text" tabindex="6" required="required">
            </fieldset>
            <br />
            <fieldset>
                <input style="width: 300px" id="uniqueEmailContent" placeholder="Your Email Text" name="shipEmailText" type="text" tabindex="7" required="required">
            </fieldset>
            <br>
            <fieldset>
                <center>
                    <input class="btn-default btn" onclick="location.href = '@Url.Action("Checkout", "ShoppingCart")?totalPr=' + @total + '&name=' + $('#uniqueName').val() + '&phone='
                                    + $('#uniquePhone').val() + '&address=' + $('#uniqueAddress').val()
                                    + '&email=' + $('#uniqueEmail').val() + '&emailTitle=' + $('#uniqueEmailTitle').val() + '&emailText=' + $('#uniqueEmailContent').val()" value="Checkout" />
                </center>
            </fieldset>
        </form>
    </div>
</div>


@section Scripts
{
}
